<script setup lang="ts">
import { ref } from 'vue';

import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt';


const tel= ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()

function onClick() {
    console.log('Clicked')
    memberStore.searchMember(tel.value)
    receiptStore.calReceipt
}
</script>

<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">
                <v-text-field
                 v-model="tel"
                    density="compact"
                    variant="solo"
                    label="Search tel number"
                    append-inner-icon="mdi-magnify"
                    single-line
                    hide-details
                    @click:append-inner="onClick"
                    @keyup.enter="onClick">
                </v-text-field>
            </v-col>

            <v-col cols="6" class="pa-2 text-center" style="background-color: rgb(253, 232, 203);">
                {{ memberStore.currentMember ? memberStore.currentMember?.name:'ไม่พบผู้ใช้' }}
            </v-col>
        </v-row>
    </v-container>
</template>